@media screen and (max-width: 775px) {
  .nav-menu li {
    display: block;
  }

  .nav-menu li:before {
    content: '';
  }

  h2 {
      font-size: 8.0vw;
      font-family: 'Montserrat';
  }

  h3 {
      font-size: 6.0vw;
      font-family: 'Montserrat';
  }

  .nav-text {
      font-size: 6.0vw;
      font-family: 'Montserrat';
      text-align: center;
      color: #FFFFFF;
  }
}
