/*DEFAULTS*/
html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
}

/*FONT SIZES*/
h2 {
	font-size: 5.0vw;
	font-family: 'Montserrat';
}

h3 {
	font-size: 3.0vw;
	font-family: 'Montserrat';
}

.nav-text {
	font-size: 3.0vw;
	font-family: 'Montserrat';
	text-align: center;
	color: #FFFFFF;
}

/*NAVBAR*/
header {
    position: relative;
    display: none;
    width: 100%;
    height: 25%;
}

.navbar-default{
	margin: 0;
	background-color:#3498db;
	border: none;
	height: 78px;
	padding-top: 3px;
	/*border-bottom:8px inset #333;
	border-bottom:8px solid rgba(0,0,0,0.1);*/
}

.navbar-default .navbar-brand{
	padding:23px 0 0 25px;
	color:#FFF;
	font-size:24px;
}

.navbar-pic{
	padding: 8px 0 0 0;
	width: 50px;
}

.navbar-default .navbar-nav > li > a {
	color:#FFFFFF;
	font-family:'Alegreya Sans SC';
	margin-top:6px;
	font-size:18px;
	border-left:4px solid transparent;
}

.navbar-default .navbar-nav > li > a:hover {
	transition-duration:0.5s;
	color:#000;
	border-left:4px solid #000;
}

.navbar-collapse {
	margin:0;
	background-color:#3498db;
	border:none;
	height:78px;
	padding-top:3px;
}

/*HOME SECTION*/
#home{
	background-image: url('../img/atlanta_blur.jpeg');
	background-size: cover;
	background-position: center;
	max-width: 1920px; 	
	height:100%;
	width: 100%; 
	margin: 0 auto; 
	position: relative; 
	padding-top: 0;
}

.top-buffer{
    margin-top:2%;
}

.profile-pic{
    margin: auto;
    width: 15%;
}

.img-circular{
    border-radius: 50%;
}

.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}

.home-text{
	text-align: center;
	color: #FFFFFF;
}

.divider-text{
    padding-left: .438em;
    padding-right: .438em;
}

#positions{
	text-align: center;
	color: #FFFFFF;
}

.nav-menu{
    list-style: none;
    display: table;
    margin: 0 auto;
    text-align: center;
}

.nav-menu ul {
    list-style: none;
    position: relative;
    float: left;
    display: inline;
    left: 0vw;
    text-align: center;
}

.nav-menu li{
    position: relative;
    float: left;
    /*TODO Change right percentage or delete*/
    right: 1vw;
    list-style: none;
    display: inline-block;
    text-align: center;
}

/*Override Bootstrap values for a:hover*/
.nav-menu a:hover{
	color: #FFFFFF;
    text-decoration: none;
}

.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.hvr-icon-forward:before {
    content: "\f138";
    position: absolute;
    right: 1em;
    padding: 0 1px;
    font-family: FontAwesome;
    transform: translateZ(0);
    transition-duration: 0.1s;
    transition-property: transform;
    transition-timing-function: ease-out;
}
/*ABOUT SECTION*/ 
#about { 
	background: #fff;  
	background-size: cover;
	height: 100%; 
	width: 100%; 
	margin: 0 auto; 
	max-width: 1920px; 
	position: relative; 
}

#about article { 
	font-size: 63px;
	color: white;
	height: 458px; 
	position: absolute; 
	text-align: center; 
	top: 150px; 
	width: 100%; 
}

#section-header{
	position: relative;
	display: inline-block;
	padding-bottom: 10px;
	line-height: 40px;
}

/*SKILLS SECTION*/
#skills{
	background: green;
	background-size: cover;
	text-align: center;
	max-width: 1920px; 	
	height:90%;
	width: 100%; 
	margin: 0 auto; 
	position: relative; 
	padding-top: 0;
}

.chart {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 150px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.percent {
  display: inline-block;
  line-height: 150px;
  z-index: 2;
}
.percent:after {
  content: '%';
  margin-left: 0.2em;
  font-size: .8em;
}

/* WORK EXPERIENCE SECTION*/
.work{
	background: #FFFFFF;
	text-align: center;
	height: 100%;
	width: 100%;
}

.experience {

}

.experience-1 {
	background-image: url('..img/homedepot.png');
}

.experience-2 {
	background-image: url('..img/sap.png');
}

.experience-3 {
	background-image: url('..img/att.jpg');
}

.experience-4 {
	background-image: url('..img/gtri.png');
}

.experience-5 {
	background-image: url('..img/airwatch.png');
}

/* TYPOGRAPHY */
