/*DEFAULTS*/
html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
}

/*FONT SIZES*/
h2 {
	font-size: 5.0vw;
	font-family: 'Montserrat';
}

h3 {
	font-size: 3.0vw;
	font-family: 'Montserrat';
}

.nav-text {
	font-size: 3.0vw;
	font-family: 'Montserrat';
	text-align: center;
	color: #FFFFFF;
}

.header-nav-text {
    font-size: 3.0vw;
}

.about-text {
	color: #FFFFFF;
    font-size: 150%;
	font-family: 'Montserrat';
}

/*HOME SECTION*/
#home{
	background-image: url('../img/atlanta_blur.jpeg');
	background-size: cover;
	background-position: center;
	max-width: 1920px; 	
	height:100%;
	width: 100%; 
	margin: 0 auto; 
	position: relative; 
	padding-top: 0;
}

.top-buffer{
    margin-top:2%;
}

.profile-pic{
    margin: auto;
    width: 15%;
}

.header-profile-pic{
    width:15%;
}

.img-circular{
    border-radius: 50%;
}

.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}

.home-text{
	text-align: center;
	color: #FFFFFF;
}

.divider-text{
    padding-left: .438em;
    padding-right: .438em;
}

#positions{
	text-align: center;
	color: #FFFFFF;
}

.nav-menu{
    display: inline;
    margin: 0 auto;
    text-align: center;
    height: 100%;
    width: 100%;
}

.nav-menu li {
    list-style: none;
    display:inline;
    text-align: center;
}

.nav-menu li:before {
    content: "| ";
}

.nav-menu li:first-child:before {
    content: '';
}

/*Override Bootstrap values for a:hover*/
.nav-menu a:hover{
	color: #DEA63C;
    text-decoration: none;
}

.footer a:hover{
	color: #DEA63C;
    text-decoration: none;
}

nav {
  margin: 10px 0px 10px 0px;
  font-size: 18px;
  display: block;
}

nav a {
  margin: 0px 5px;
  color: #121313;
  text-align: center;
  font-weight: 300;
  letter-spacing: 1px;
  display: inline-block;
  -webkit-transition: 0.1s ease-in-out;
  -ms-transition: 0.1s ease-in-out;
  -moz-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
/*ABOUT SECTION*/ 
/*#about { */
	/*background: #fff;  */
	/*background-size: cover;*/
	/*height: 100%; */
	/*width: 100%; */
	/*margin: 0 auto; */
	/*max-width: 1920px; */
	/*position: relative; */
/*}*/

#about article { 
    font-size: 100%;
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
	color: white;
	height: 458px; 
	position: absolute; 
	text-align: center; 
	top: 150px; 
	width: 100%; 
}

.entry {
    text-align: center;
    padding: 1% 5%;
}
