/*FONT SIZES*/
h1 {
	font-size: 55px;
	font-family: 'Montserrat';
}

/*NAVBAR*/
header {
    position: relative;
    display: none;
    width: 100%;
    height: 25%;
}

.navbar-default{
	margin: 0;
	background-color:#3498db;
	border: none;
	height: 78px;
	padding-top: 3px;
	/*border-bottom:8px inset #333;
	border-bottom:8px solid rgba(0,0,0,0.1);*/
}

.navbar-default .navbar-brand{
	padding:23px 0 0 25px;
	color:#FFF;
	font-size:24px;
}

.navbar-pic{
	padding: 8px 0 0 0;
	width: 50px;
}

.navbar-default .navbar-nav > li > a {
	color:#FFFFFF;
	font-family:'Alegreya Sans SC';
	margin-top:6px;
	font-size:18px;
	border-left:4px solid transparent;
}

.navbar-default .navbar-nav > li > a:hover {
	transition-duration:0.7s;
	color:#000;
	border-left:4px solid #000;
}

.navbar-collapse {
	margin:0;
	background-color:#3498db;
	border:none;
	height:78px;
	padding-top:3px;
	overflow:hidden;
}

/*HOME SECTION*/
#home{
	background: url('../img/atlanta.jpg') 50% 0 no-repeat; min-height: 1000px;
	background-size: cover;
	height:1000px;
	margin: 0 auto; 
	width: 100%; 
	max-width: 1920px; 
	position: relative; 
}

#home article { 
	font-size: 63px;
	color: white;
	height: 458px; 
	position: absolute; 
	text-align: center; 
	top: 150px; 
	width: 100%; 
}

.name{
	text-align: center;
	color: #FFFFFF;
	margin-top: 15%;
}

/*ABOUT SECTION*/ 
#about { 
	background: url('../img/croatia.jpg') 50% 0 no-repeat; min-height: 1000px;  
	background-size: cover;
	height: 1000px; 
	margin: 0 auto; 
	width: 100%; 
	max-width: 1920px; 
	position: relative; 
	-webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

#about article { 
	font-size: 63px;
	color: white;
	height: 458px; 
	position: absolute; 
	text-align: center; 
	top: 150px; 
	width: 100%; 
}

#section-header{
	position: relative;
	display: inline-block;
	padding-bottom: 10px;
	line-height: 40px;
}

/* WORK EXPERIENCE */
.work{
	background: #FFFFFF;
	text-align: center;
}

.experience {

}

.experience-1 {
	background-image: url('..img/homedepot.png');
}

.experience-2 {
	background-image: url('..img/sap.png');
}

.experience-3 {
	background-image: url('..img/att.jpg');
}

.experience-4 {
	background-image: url('..img/gtri.png');
}

.experience-5 {
	background-image: url('..img/airwatch.png');
}

/* TYPOGRAPHY */
